<template>
  <div>
    <div>
      <cow-say />
      <div class="command">
        <command-prompt :sections="['Code', 'Git']" /><router-link to="/about">
          <command value="less about.md" />
        </router-link>
      </div>
      <div class="command">
        <command-prompt :sections="['Code', 'Git']" /><router-link to="/contributions">
          <command value="less contributions.md" />
        </router-link>
      </div>
      <div class="command">
        <command-prompt :sections="['Code', 'Git']" />
        <command value="nvim ~/config/nvim/init.vim" href="https://github.com/tjaartvdwalt/nvimrc" />
      </div>
      <div class="command">
        <command-prompt :sections="['Code', 'Git']" />
        <command value="lynx https://blog.tjaart.org" href="https://blog.tjaart.org" />
      </div>
<!--      <br />
      <br />
      <span class="vcs"><a href="https://github.com/tjaartvdwalt">github.com/tjaartvdwalt</a> |
        <a href="https://bitbucket.com/tjaartvdwalt">bitbucket.com/tjaartvdwalt</a>
        |
        <a href="https://gitlab.com/tjaart">gitlab.com/tjaart</a>
      </span>
-->
      <!--      <div><command-prompt :sections="['Code', 'Git']"/><command value="cd ~/Projects" href="https://tjaart.org/projects/"/></div>
      <div class="command"><command-prompt :sections="['Code', 'Git']"/><command value="cd ~/Photos" href="https://tjaart.org/photos/"/></div>
      <div><command-prompt :sections="['Code', 'Git']"/><command value="evince resume.pdf" href="https://gitlab.com/tjaart/resume/-/raw/master/releases/resume-v1.0.36.pdf?inline=false"/></div> -->
    </div>
  </div>
</template>

<script>
import Command from "@/components/Command.vue"
import CommandPrompt from "@/components/CommandPrompt.vue"
import CowSay from "@/components/CowSay.vue"

export default {
  components: { Command, CommandPrompt, CowSay },
}
</script>

<style>
div.command {
  padding-bottom: 20px;
}
span.vcs {
border-style : solid;
border-width: 0px;
border-color: aqua;
}
</style>
